# Ignore Files in the MYNN-EDMF directory

# All pre-processed Fortran files in MPAS specific directories
*.f90

# All object files
*.o

# All mod files
*.mod

# All copies in the top dir
Makefile
module_mynnedmf_common.F90
module_mynnedmf_driver.F90
